body{
    background: #d3d3d3;
}
.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.shadow-forms {
    box-shadow: -1em 0 2em #7a7a7a, 1em 0 2em #7a7a7a;
}

.horizontal-form-center {
    margin: 0 auto;
}

.active-text-black {
    color: black;
}

.active-text-black :hover {
    color: #0a0a0a;
}

.active-text-red {
    color: red;
}

.active-text-red :hover {
    color: black;
}